body {
    background-color: rgba(44, 199, 191, 0.973);
}
h1 {
    text-align: center;
    text-decoration: dotted;
    color: black;
}
.About{

    text-align: left;
    text-decoration: blue;
    font-size: 25px;
    font-style: oblique;
    font-weight: bolder;
}
h2 {
    text-align: left;
    text-decoration: black;
}
ol {
    font-size: 25px;
    font-style: oblique;
}